/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
color: white;
}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */


.hlavni-recept 
{
    display: flex;
    padding: 0.5rem;
    border-bottom: 1px solid white;
    min-height: 200px;
}

.recept-meta {
    font-size: 0.8rem;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.recept-nazev {
    font-size: 1.2rem;
    margin-top: 2rem;  
}

.recept
{
    display: flex;
    padding: 0.5rem;
    border-bottom: 1px solid white;
    min-height: 90px;
    flex-direction: column;
}

.hlavni-recept {
    background-image: url(images/burger.jpg) ;
    background-size: cover;
    background-position: center;
}

.recept2 {
    background-image: url(images/sushi.jpg) ;
    background-size: cover;
    background-position: center;
}

.recept3 {
    background-image: url(images/rajcata.jpg) ;
    background-size: cover;
    background-position: center;
}

.recept4 {
    background-image: url(images/kure.jpg) ;
    background-size: cover;
    background-position: center;
}

.recept5 {
    background-image: url(images/grilovani.jpg) ;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 480px) {

    .sloupec {
    display: flex;
    width: 50%;
    flex-direction: column;
    }

    .sloupce {
        width: 100%;
        border-right: 1px solid white;
        display: flex;
        flex-wrap: wrap;
    }

.hlavni-recept {
    width: 100%;
}
}